<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/bootstrap">
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body style="background-color: black">

    <navbar th:include="fragments/navbar"></navbar>

<!--    jumbotron-->
<div class="jumbotron" style="background-color: burlywood">
    <h1 class="display-2 text-center">Welcome to Alyssa's Employee app!</h1>
<!--    <h1 class="display-2 font-weight-bold" th:class="text-center" >Alyssa's Book App</h1>-->
<!--    <p class="text-center font-italic text-light">Welcome to Alyssa's Employee Application! </p>-->
<!--    <hr class="my-4">-->
    <p class="text-center font-italic text-light ">Features: you may add a employee , edit one and delete if you like</p>
    <a class="btn btn-dark btn-lg"  href="/employees/create" role="button">add a employee</a>
</div>

<!-- conditional if no ads are in the list-->
<div th:if="${noEmployeesFound}">
    <h3 class="text-center">No Employees were found</h3>
</div>

<!-- list the employees on the list -->
<h1 class="display-4 text-center text-light ">Employee List</h1>


<div th:each="employee : ${employees}" class="text-center font-italic " style="color: burlywood">
    <h3 th:text="${employee.firstName}"></h3>
    <p th:text="${employee.lastName}"></p>
    <p th:text="${employee.number}"></p>
    <h2 th:text="${employee.userName}"></h2>
    <p th:text="${employee.email}"></p>
    <a th:href="'/employees/' + ${employee.id} + '/edit'" class="btn bg-dark text-light" >Edit</a>

    <hr>

</div>


</body>
</html>
