<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/bootstrap">
    <meta charset="UTF-8">
    <title>Show Employee</title>
</head>
<body>

    <h1>view employee</h1>

    <div class="container">

        <h3>first name: <span th:text="${showEmployee.firstName}"></span></h3>

        <h3>last name: <span th:text="${showEmployee.lastName}"></span></h3>

        <h2>employee: <span th:text="${showEmployee.employee}"></span></h2>

        <p>number: <span th:text="${showEmployee.number}"></span></p>

        <p>username: <span th:text="${showEmployee.userName}"></span></p>

        <p>email: <span th:text="${showEmployee.email}"></span></p>
    </div>

    <a href="/employees">Back to List</a>

</body>
</html>
